{% extends 'models_database_app/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Attribute Name</th>
                <th>Order</th>
                <th>Description</th>
                <th>Data Type</th>
                <th>Allow Multiple</th>
            </tr>
        </thead>
        <tbody>
            {% for attrib in attributes %}
            <tr>
                <td><a href="{{ attrib.get_absolute_url }}">{{ attrib.name }}</a></td>
                <td>{{ attrib.sort_order }}</td>
                <td>{{ attrib.description }}</td>
                <td>{{ attrib.data_type }}</td>
                <td>{% if attrib.allow_multiple %}Yes{% else %}No{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}