{% extends 'models_database_app/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <p>
            <a href="/app/attributes/edit/{{ attribute.id }}/" class="btn btn-default btn-xs" role="button">Edit</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr class="success">
                <th>Attribute Name</th>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <th>Data Type</th>
                <td>{{ attribute.data_type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ attribute.description }}</td>
            </tr>
            <tr>
                <th>Sort Order</th>
                <td>{{ attribute.sort_order }}</td>
            </tr>
            <tr>
                <th>Allow Multiple Records</th>
                <td>{% if attribute.allow_multiple %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}