{% extends 'models_database_app/base.html' %}
{% block content %}
<h1>Attribute Details</h1>
<div class="row">
    <div class="col-md-8">
        <p>
            <a href="/app/attributes/edit/{{ attribute.id }}/" class="btn btn-default" role="button">Edit</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <td>Name</td>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <td>Data Type</td>
                <td>{{ attribute.data_type }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ attribute.description }}</td>
            </tr>
            <tr>
                <td>Sort Order</td>
                <td>{{ attribute.sort_order }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}