{% extends 'models_database_app/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-10">
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Model Name</th>
                <th>Risk Type</th>
                <th>Owner</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for model in models %}
            <tr>
                <td><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                <td><a href="{{ model.risk_type.get_absolute_url }}">{{ model.risk_type }}</a></td>
                <td><a href="{{ model.owner.get_absolute_url }}">{{ model.owner }}</a></td>
                <td>{{ model.owner.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}