{% extends 'models_database_app/base.html' %}
{% block content %}
<h1>Model Owners</h1>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for owner in owners %}
            <tr>
                <td><a href="{{ owner.get_absolute_url }}">{{ owner.name }}</a></td>
                <td>{{ owner.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}