{% extends 'models_database_app/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <p>
            <a href="/app/risk-types/edit/{{ risk_type.id }}/" class="btn btn-default btn-xs" role="button">Edit</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th>Risk Type</th>
                <td>{{ risk_type.name }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

{% if risk_type.models.all %}
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Model Name</th>
                <th>Owner</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for model in risk_type.models.all %}
            <tr>
                <td><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                <td><a href="{{ model.owner.get_absolute_url }}">{{ model.owner.name }}</a></td>
                <td>{{ model.owner.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}