{% extends 'models_database_app/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <p>
            <a href="/app/risk-types/edit/{{ risk_type.id }}/" class="btn btn-default btn-xs" role="button">Edit</a>
        </p>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th>Risk Type</th>
                <td>{{ risk_type.name }}</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

{% if risk_type.models.all %}
<div class="row">
  <div class="col-md-8">
    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <th>Model Name</th>
                <th>Owner</th>
                <th>Department</th>
            </tr>
        </thead>
        <tbody>
            {% for model in risk_type.models.all %}
            <tr>
                <td><a href="{{ model.get_absolute_url }}">{{ model.name }}</a></td>
                <td><a href="{{ model.owner.get_absolute_url }}">{{ model.owner.name }}</a></td>
                <td>{{ model.owner.department }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <p>
            <a href="#" class="btn btn-default btn-xs" role="button" onclick="toggle_visibility('required');">Show / Hide Required Attributes</a>
        </p>
        <div id="required" style="display: none;">
            {% if risk_type.count_required_attributes_for_models %}
            <table class="table table-bordered table-condensed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Attributes Required for Models</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for req in risk_type.required.all %}
                    {% if req.obj_type == "MODEL" %}
                    <tr>
                        <td>{{ req.attribute }}</td>
                        <td><a href="/required-attribute-delete/{{ req.id }}/">delete</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No required attributes for models</p>
            {% endif %}
            {% if risk_type.count_required_attributes_for_versions %}
            <table class="table table-bordered table-condensed">
                <thead class="thead-inverse">
                    <tr>
                        <th>Attributes Required for Versions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for req in risk_type.required.all %}
                    {% if req.obj_type == "VERSION" %}
                    <tr>
                        <td>{{ req.attribute }}</td>
                        <td><a href="/required-attribute-delete/{{ req.id }}/">delete</a></td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No required attributes for versions</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-default btn-xs" type="submit" value="Add Required Attribute" />
            </form>
        </div>
  </div>
</div>
{% endblock %}