{% extends 'models_database_app/base.html' %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row">
    <div class="col-md-4">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table class="table table-bordered">
            <tr>
                <th>
                    {{ form.username.label_tag }}
                </th>
                <td>
                    {{ form.username }}
                </td>
            </tr>
            <tr>
                <th>
                    {{ form.password.label_tag }}
                </th>
                <td>
                    {{ form.password }}
                </td>
            </tr>
        </table>

        <!--<button type="submit" style="width: 80px;">login</button>-->
        <input class="btn btn-default" type="submit" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</div>
{% endblock %}